*{
    box-sizing: border-box;
}
#wrapper{
    max-width: 960px;
    margin: 0px auto;
    background-color: beige;
}
i {
    color: green;
}
#header{
    margin: 0px;
}
#header h3{
    background-color: green;
    color: white;
    text-align:center;
    text-transform: uppercase;
    height: 200px; 
    margin: 10px;
}
#header img{
    float:left;
    
}
#main-content{
    display: flex;
    min-height: 500px;
}
#content {
    border: 1px solid whitesmoke;
    flex-basis: 70%;
    float: right;
    margin: 10px   ;
    background-color:gainsboro;
}

#sidebar {
    border: 1px solid whitesmoke;
    flex-basis: 30%;
    background-color:gainsboro;
    margin: 10px;
}
#sidebar h3{
    width: fit-content;
    text-transform: uppercase;
    background-color: green;
    color: white;
}
#ct{
    color:  darkgreen;
}
#vie{
    color: green;
}